@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-delay: 0.1s;
}


@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.fadeOutIn {
  animation: fadeOutIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-delay: 0.1s;
}

@keyframes slideIn {
  0% {
    top: 4000px;
  }
  100% {
    top: 0px;
  }
}

.slideIn {
  animation: slideIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: .5s;
}

@keyframes slideOut {
  0% {
    top: 0px;
  }
  100% {
    top: 4000px;
  }
}

.slideOut {
  animation: slideOut ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: .5s;
}

.squareToCircle {
  width: 200px;
  height: 200px;
  background-color: coral;
  animation: squareToCircle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

@keyframes squareToCircle {
  0%  {
    border-radius: 0 0 0 0;
    background: coral;
    transform: rotate(0deg);
  }
  25%  {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    transform: rotate(45deg);
  }
  50%  {
    border-radius: 50% 50% 0 0;
    background: indianred;
    transform: rotate(90deg);
  }
  75%  {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background: darksalmon;
    transform: rotate(180deg);
  }
}

.bounceUp {
  animation: bounceUp 2s infinite;
}

.bounceDown {
  animation: bounceDown 2s infinite;
}

.bounceLeft {
  animation: bounceLeft 2s infinite;
}

.bounceRight {
  animation: bounceRight 2s infinite;
}

@keyframes bounceUp {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

@keyframes bounceLeft {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}

@keyframes bounceRight {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(5px);
  }
}

/* used with CSSTransition component */

.slideAppear {
  top: 4000px;
  visibility: visible;
}

.slideAppear.slideAppearActive {
  top: 0;
  transition: top 1000ms ease-out;
}

.slideEnter {
  top: 4000px;
  visibility: visible;
}

.slideEnter.slideEnterActive {
  top: 0;
  transition: top 1000ms ease-out;
}

.slideExit {
  top: 0;
}

.slideExit.slideExitActive {
  top: 4000px;
  transition: top 800ms ease-out;
}


.fadeAppear {
  opacity: 0.01;
  visibility: visible;
}

.fadeAppear.fadeAppearActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeEnter {
  opacity: 0.01;
  visibility: visible;
}

.fadeEnter.fadeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExit.fadeExitActive {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.blinkingOrange {
  color: #FB9B51;
  animation: blinkingOrange 1s step-end infinite;
}

@keyframes blinkingOrange {
  from, to {
    color: transparent;
  }
  50% {
    color: #FB9B51;
  }
}

.blinkingOrangeAppear {
  opacity: 0.01;
  visibility: visible;
}

.blinkingOrangeAppear.blinkingOrangeAppearActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.blinkingOrangeEnter {
  opacity: 0.01;
  visibility: visible;
}

.blinkingOrangeEnter.blinkingOrangeEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.blinkingOrangeExit {
  opacity: 1;
}

.blinkingOrangeExit.blinkingOrangeExitActive {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}


/*====================================
  Modal - https://codepen.io/pure-css/pen/qddOQK?depth=everything&order=popularity&page=2&q=css+modal&show_forks=false
=====================================*/

.modal {
  /*background: #fff;*/
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);*/
  /*display: inline-block;*/
  /*padding: 1em;*/
}

/*@media (min-width: 43.75em) {
  .modal {
    padding: 1.5em;
  }
}*/

.modalLabel {
  background: #343434;
  border: 1px solid #343434;
  border-radius: .2em;
  color: #d8d8d8;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.75em 1.5em;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.55s;
}

.modalLabel:hover {
  transform: scale(0.97);
}

.modalOverlay {
  background: #d8d8d8;
  bottom: 0;
  left: 15%;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: -1000px;
  opacity: 0;
  transform: scale(0.5);
  /*transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
  /*transition: all 0.75s cubic-bezier(.64,.54,.57,.44);*/
  transition: all 0.75s cubic-bezier(0.68, 0, 0.265, 1);
  z-index: -11;
  overflow: scroll;
}

.modalWrap {
  padding: 1em 0;
  position: relative;
  left: 2%;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}

/*@media (min-width: 50em) {
  .modalWrap {
    padding: 1.75em;
  }
}

@media (min-height: 37.5em) {
  .modalWrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -80%);
  }
}*/

.modalWrap label {
  background: #d8d8d8;
  border-radius: 50%;
  color: #343434;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
 /* position: absolute;
  right: 43%;
  top: .5em;*/
  width: 1.5em;
}

.modalWrap h2 {
  color: #343434;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.modalWrap p {
  color: #343434;
  text-align: justify;
}

.modalTriggerInput:focus ~ label {
  transform: scale(0.97);
}

.modalTriggerInput {
  position: absolute;
  top: -1000px;
}

.modalTriggerInput:checked ~ .modalOverlay {
  opacity: 1;
  transform: scale(1);
  z-index: 1001;
  top: 0;
}







html.popupActive, body.popupActive {
  overflow: hidden;
}

.popupContainer {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 201;
}
.popupContainer.five {
  transform: scale(1);
}
.popupContainer.five .popupBackground {
  background: rgba(0, 0, 0, 0);
  animation: popupFadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.popupContainer.five .popupBackground .popup {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.popupContainer.five.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
.popupContainer.five.out .popupBackground {
  animation: popupFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.popupContainer.five.out .popupBackground .popup {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.popupContainer .popupBackground {
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
  z-index: 202;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.popupContainer .popupBackground .popup {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
  top: 75px;
  left: 200px;
  height: 500px;
  width: 500px;
  z-index: 203;
}
.popupContainer .popupBackground .popupContent {
  overflow: scroll;
  height: 100%;
  width: 100%;
}
.popupContainer .popupBackground .popup * {
  font-size: 18px;
  line-height: 22px;
  color: #737373;
}

.popupContainer .popupBackground .popup span {
  position: absolute;
  top: 12px;
  left: 18px;
}

.popupContainer .popupBackground .popup span:hover {
  cursor: pointer;
}

@keyframes popupFadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes popupFadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
