.container {
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: none;
}

.bubble {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.workCards {
  width: 300px;
  height: 300px;
  background: orange;
}

.projectCards {
  width: 300px;
  height: 300px;
  background: #ad8;
  color: #393939;
}

.snippet {
  width: 600px;
  height: 200px;
  background: #d4f100;
  color: #393939;
}

.article {
  width: 600px;
  height: 200px;
  background: #ad8000;
  color: #393939;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
