.designCodeDeploy {
  position: relative;
  left: 18%;
  top: 140px;
}

.bubble:nth-child(2) {
  position: relative;
  bottom: 200px;
}

.bubble {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.bubbleText {
  display: inline-block;
  margin: 150px 0 0 0;
}

.bubbleSkill {
  display: block;
  width: 233px;
  height: 233px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bubbleChart {
}

.skillsContainer {
  width: 40%;
  /*box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  position: absolute;
  left: 20%;
}

.workCardContainer * {
  color: #434343;
}

.workCardContainer {
  width: 50%;
  height: 500px;
  background: white;
  margin-top: 50px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  position: absolute;
  left: 20%;
}

.resumeContainer iframe {
  width: 59%;
}

.resumeContainer {
  position: absolute;
  left: 18%;
  width: 100%;
  height: 600px !important;
  padding-top: 25px;
}

.education {

}

.educationLogo {
  width: 100%;
  height: 125px;
  background-size: contain;
  background-position: center;
}

.educationTextContainer {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.educationLogoContainer {
  width: 48%;
  display: inline-block;
}

.degree, .year, .location {
  display: block;
}

.accLogo {
  background-image: url(../img/acc_logo.svg);
}

.utLogo {
  background-image: url(../img/ut_logo.svg);
}

.ugaLogo {
  background-image: url(../img/uga_logo.svg);
}

.medalLogo {
  background-image: url(../img/medal_logo.svg);
}

.tycoLogo {
  background-image: url(../img/tyco_logo.svg);
}

.verodinLogo {
  background-image: url(../img/verodin_logo.png);
}

.experience {

}

.experienceSection {
  display: none;
}

.experienceLogo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-position: center;
}

.activeExperienceSection {
  display: block !important;
}

.ut {
}

.medal {
}

.tyco {
}

.verodin {
}

.projectCardContainer {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  left: 25%;
  color: #393939;
}

.typewriter {
  margin-left: 1em;
}

.typewriterCaret {
  color: #FB9B51;
}

.typewriterWrap {

}

.gistWrapper {
  margin-bottom: 60px;
  width: 98%;
}

.gistContainerInner {
  width: 98%;
  height: 560px;
  font-size: 32px;
  overflow: hidden;
  overflow-y: auto;
}

.gistContainer {
  width: 75%;
  height: 600px;
  left: 7.5%;
  font-size: 32px;
  position: absolute;
  overflow: hidden;
  padding: 25px;
  z-index: -1;
}

.gistFile, .gistData {
  height: 150px;
}

.gist {
  height: 150px;
}

span.scrollNav {
  margin: 0 47.25%;
  font-size: 18px;
  display: block;
}

.articleContainerInner {
  width: 98%;
  height: 560px;
  font-size: 32px;
  overflow: hidden;
  overflow-y: auto;
}

.articleContainer h1 {
  font-size: 18px;
  text-align: center;
  color: #393939;
  padding-top: 1em;
}

.articleContainer p {
  font-size: 14px;
  color: #393939;
}

.articleContainer {
  width: 75%;
  height: 600px;
  left: 7.5%;
  font-size: 32px;
  position: absolute;
  overflow: hidden;
  padding: 25px 0 25px 0;
}

.article {
  height: 200px;
  margin-bottom: 20px;
  width: 98%;
  color: #393939;
  background: white;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.articleText {
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
  width: 75%;
  height: 50px;
  margin: 0 auto;
}




.btn {
  color: white;
/*  text-transform: uppercase;*/
  border-right: none;
  border-bottom: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 13px;
  line-height: 1.846;
  border-radius: 3px;
  margin: 5px;
  color: #333;
  user-select: none;
  /* Default Button Background */
  /*background-image: radial-gradient(circle, #fff 80%, #eee 81%);*/
  background-repeat: no-repeat;
  border-color: #eee;
  background-size: 200%;
  background-position: 50%;
  transition: background-size .25s;
}

.btn:hover {
  /*background-size: 100%;*/
  transform: scale(1.1);
}

.btn:active {
  background-color: #eee;
  background-image: radial-gradient(circle, #eee 10%, #fff 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.fullTextBtn {
  margin: 35px auto;
  display: block;
  width: 50px;
  background-color: #343434;
  z-index: 700;
  color: #d8d8d8;
}





.card {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 260px;
  border-radius: 2px;
  background: #fafafa;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card .cardImage {
  display: block;
  position: relative;
  width: 300px;
  height: 210px;
  background-image: url(../img/django_tictactoe.png);
  background-size: cover;
  background-position: 0% 20%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.active .cardImage {
  background-position: 50% 50%;
}

.card .cardImage h1 {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
  color: #737373;
  font-size: 1em;
}

.card.active .cardImage h1 {
  bottom: 100px;
}

.card .cardBody {
  position: absolute;
  display: block;
  bottom: -210px;
  left: 0;
  width: 300px;
  height: 260px;
  background: #d8d8d8;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.active .cardBody {
  bottom: 0;
}

.card .cardBody .controls {
  display: block;
  width: 100%;
  height: 30px;
  padding-top: 15px;
}

.card .cardBody .controls a:nth-child(2) {
  padding-top: 1px;
}

.card .cardBody .controls a:first-child {
  float: left;
}

.card .cardBody .controls a:nth-child(2), .card .cardBody .controls a:nth-child(3) {
  float: right;
}

.card .cardBody .controls a {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 50px;
  color: #2d2d2d;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card .cardBody .controls a i {
  position: absolute;
  left: 50%;
  color: #2d2d2d;
  transform: translateX(-50%);
  transition: opacity 0.32s ease, transform 0.32s ease, color 0.22s ease;
}

.card .cardBody .controls a .down {
  opacity: 0;
  transform: translateX(-50%) rotate(180deg);
}

.card.active .cardBody .controls a .down {
  opacity: 1;
  transform: translateX(-50%) rotate(0deg);
}

.card .cardBody .controls a .up {
  opacity: 1;
  transform: translateX(-50%) rotate(0deg);
}

.card.active .cardBody .controls a .up {
  opacity: 0;
  transform: translateX(-50%) rotate(180deg);
}

.card .cardBody h1 {
  display: block;
  padding: 0;
  color: #323232;
  font-size: 1em;
}

.card.active .cardBody h1 {
  font-size: .5em;
  font-weight: bold;
  text-align: center;
}

.card .cardBody ul {
  list-style-type: square;
  padding: 15px 0 0 38px;
  margin-top: 0;
}

.card .cardBody ul li {
  display: list-item;
  margin: 0;
  color: #323232;
  font-size: 16px;
  text-align: left;
  opacity: 0;
  font-weight: 400;
  transition: padding 0.4s cubic-bezier(.25,.8,.25,1), opacity 0.5s cubic-bezier(.25,.8,.25,1);
  transition-delay: 0.1s;
}

.card.active .cardBody ul li {
  opacity: 1;
  padding: 0;
}
