.designCodeDeploy {
  position: relative;
  left: 18%;
  top: 140px;
}

.bubble:nth-child(2) {
  position: relative;
  bottom: 200px;
}

.bubble {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.bubbleText {
  display: inline-block;
  margin: 150px 0 0 0;
}

.bubbleSkill {
  display: block;
  width: 233px;
  height: 233px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bubbleChart {
}

.skillsContainer {
  width: 40%;
  /*box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  position: absolute;
  left: 20%;
}

.workCardContainer * {
  color: #434343;
}

.workCardContainer {
  width: 50%;
  height: 500px;
  background: white;
  margin-top: 50px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  position: absolute;
  left: 20%;
}

.resumeContainer iframe {
  width: 59%;
}

.resumeContainer {
  position: absolute;
  left: 18%;
  width: 100%;
  height: 600px !important;
  padding-top: 25px;
}

.education {

}

.educationLogo {
  width: 100%;
  height: 125px;
  background-size: contain;
  background-position: center;
}

.educationTextContainer {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.educationLogoContainer {
  width: 48%;
  display: inline-block;
}

.degree, .year, .location {
  display: block;
}

.accLogo {
  background-image: url(../img/acc_logo.svg);
}

.utLogo {
  background-image: url(../img/ut_logo.svg);
}

.ugaLogo {
  background-image: url(../img/uga_logo.svg);
}

.medalLogo {
  background-image: url(../img/medal_logo.svg);
}

.tycoLogo {
  background-image: url(../img/tyco_logo.svg);
}

.verodinLogo {
  background-image: url(../img/verodin_logo.png);
}

.experience {

}

.experienceSection {
  display: none;
}

.experienceLogo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-position: center;
}

.activeExperienceSection {
  display: block !important;
}

.ut {
}

.medal {
}

.tyco {
}

.verodin {
}

.container {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  left: 25%;
}

.projectCardContainer {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  left: 25%;
  background: #ad8;
  color: #393939;
}

.snippet {
  width: 600px;
  height: 200px;
}

.article {
  width: 600px;
  height: 200px;
  background: #ad8000;
  color: #393939;
}

.typewriter {
  margin-left: 1em;
}

.typewriterCaret {
  color: #FB9B51;
}

.typewriterWrap {

}

.gistWrapper {
  margin: 60px 0;
  width: 98%;
}

.gistContainerInner {
  width: 98%;
  height: 500px;
  font-size: 32px;
  /*position: absolute;*/
  overflow: hidden;
  overflow-y: auto;
}

.gistContainer {
  width: 75%;
  height: 500px;
  left: 7.5%;
  font-size: 32px;
  position: absolute;
  overflow: hidden;
  padding-top: 50px;
}

.gistFile, .gistData {
  height: 150px;
}

.gist {
  height: 150px;

}
