.container {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  left: 25%;
}

.designCodeDeploy {
  position: relative;
  left: 18%;
  top: 140px;
}

.bubble:nth-child(2) {
  position: relative;
  bottom: 200px;
}

.bubble {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.bubbleText {
  display: inline-block;
  margin: 150px 0 0 0;
}

.bubbleSkill {
  display: block;
  width: 233px;
  height: 233px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bubbleChart {
}

.workCardContainer {
  width: 300px;
  height: 300px;
  background: orange;
}

.projectCardContainer {
  width: 300px;
  height: 300px;
  background: #ad8;
  color: #393939;
}

.snippet {
  width: 600px;
  height: 200px;
  background: #d4f100;
  color: #393939;
}

.article {
  width: 600px;
  height: 200px;
  background: #ad8000;
  color: #393939;
}

.typewriter {
  margin-left: 1em;
}

.typewriterCaret {
  color: #FB9B51;
}

.typewriterWrap {

}
