.container {
  width: 100%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  top: 1000px;
}

.bubble {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bubbleSkill {
  display: block;
  width: 500px;
  height: 500px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 25%;
}

.workCards {
  width: 300px;
  height: 300px;
  background: orange;
}

.projectCards {
  width: 300px;
  height: 300px;
  background: #ad8;
  color: #393939;
}

.snippet {
  width: 600px;
  height: 200px;
  background: #d4f100;
  color: #393939;
}

.article {
  width: 600px;
  height: 200px;
  background: #ad8000;
  color: #393939;
}
