a {
  text-decoration: none;
}

:global(.blue) {
  color: #346D98;
}

.blue {
  color: #346D98;
}

/*mobile*/
@media (max-width: 768px) {
  body {
    background-color: #303030;
  }

  .blue {
    color: #1177dd;
  }
}

:global(.browserupgrade) {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
