/*body {
  color: #555;
  background-color: #ece9e9;
  padding: 0;
  font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
}

body.notes {
  padding: 50px;
}

body a {
  color: #555;
}

body a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #555;
}

h1 {
  display: inline-block;
  vertical-align: top;
}*/

.blue {
  color: #346D98;
}

/*mobile*/
@media (max-width: 768px) {
  body {
    background-color: #303030;
  }

  .blue {
    color: #1177dd;
  }
}

