.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #D8D8D8;
  background-color: #346D98;
  position: absolute;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
}

/*.container#c2:target .page#p2
.container#c3:target .page#p3*/

.container#c1:target .page#p1 {
}

.pageIn {
  transform: translateX(190%);
  -webkit-transform: translateX(190%);
  -moz-transform: translateX(190%);
  -o-transform: translateX(190%);
  transition-delay: .4s !important;
}

.page#p1 {
  left: 0;
}

.page#p2, .page#p3 {
  left: -200%;
}

.page#p1 { background: #346D98; }
.page#p2 { background: #397E6F; }
.page#p3 { background: #6A4F8E; }



.pageFaded {
  background: #434343 !important;
}

/*.container#c2:target .page#p1 .icon,
.container#c3:target .page#p1 .icon*/
.blurry {
  -webkit-filter: blur(3px);
}

.icon {
  color: #D8D8D8;
  font-size: 32px;
  display: block;
}

.menu .icon:hover {
  opacity: 0.5;
}

.container#c2:target ul .icon,
.container#c3:target ul .icon {
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

/*.container#c2:target .navElem#dos,
.container#c3:target .navElem#tres*/
.scaleUp {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

.container#c1:target, .container#c2:target, .container#c3:target {
}

.navElem#uno, .navElem#dos, .navElem#tres {
  list-style-type: none;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

.menu .icon {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
/*   transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25); */
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

.container#c2:target .page#p2 .icon,
.container#c3:target .page#p3 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}
