.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #346d98;
  position: absolute;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
}

.pageFaded {
  background: #434343 !important;
}

.page#p1 {
  left: 0;
  background: #346d98;
}

.page#p2 {
  background: #397e6f;
}

.page#p3 {
  background: #6a4f8e;
}

.page#p2, .page#p3 {
  left: -200%;
}

.blurry {
  -webkit-filter: blur(3px);
}

.scaleDown {
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

.scaleUp {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

/* define ids here so they are accessible in js */
.container#c1, .container#c2, .container#c3 {
}

.navElem#uno, .navElem#dos, .navElem#tres {
  display: block;
  text-align: left;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 280px;
  width: 15%;
  padding: 0;
  text-align: center;
 }

 .pageIn {
  transform: translateX(185%);
  -webkit-transform: translateX(185%);
  -moz-transform: translateX(185%);
  -o-transform: translateX(185%);
  transition-delay: .25s !important;
}

.shiftedRight header, .shiftedRight section, .shiftedRight footer {
  position: relative;
  left: 15%;
}

.shiftedRight .subNav {
  left: 50% !important;
  bottom: -33%;
}

.pageHeader {
  margin-left: 5%;
}

@media only screen and (min-width: 1500px) {

  .menu {
    width: 30%;
   }

   .pageIn {
    transform: translateX(170%);
    -webkit-transform: translateX(170%);
    -moz-transform: translateX(170%);
    -o-transform: translateX(170%);
  }

  .shiftedRight header, .shiftedRight section, .shiftedRight footer {
    left: 30%;
  }

  .shiftedRight .subNav {
    left: 70% !important;
  }

  .pageHeader {
    margin-left: 25%;
  }

}

@media only screen and (min-width: 2000px) {

  .menu {
    width: 50%;
   }

   .pageIn {
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -o-transform: translateX(150%);
  }

  .shiftedRight header, .shiftedRight section, .shiftedRight footer {
    left: 50%;
  }

  .shiftedRight .subNav {
    left: 85% !important;
  }

  .pageHeader {
    margin-left: 30%;
  }

}

.menuIcon {
  font-size: 32px !important;
  margin: .5em .5em .5em 1.75em;
  vertical-align: sub;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

.menuIcon:hover {
  opacity: 0.5;
}

.shiftedRightElem {
  position: relative;
  left: 50%;
}

.footerImage {
  display: inline-block;
  background-image: url(../img/jason.jpeg);
  background-size: cover;
  background-position: center shiftedRight;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /*-webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);  */
}

header * {
  font-weight: normal;
}

.leftIcon {

}

.subNavArrow {
  position: absolute;
  left: 0;
}

.selected, .selected span {
  color: #FB9B51;
}

footer div {
  display: inline-block;
  width: 30%;
}

.footerWrapper {
  width: 100%;
  text-align: center;
}

.contact {
  text-align: right;
  margin-right: 5%;
  position: relative;
  bottom: 40px;
}

.contact a {
  margin: 0 .75em;
}

.copyright {
  text-align: left;
  margin-left: 4%;
  position: relative;
  bottom: 40px;
}

.copyright span {
  margin-right: .5em;
}

.thumbnail {
  width: 10%;
  text-align: center;
}
