version: '3.5'

networks:
  jbnet:
    name: jbnet

services:
  flask:
    build: ./jasonbrazeal_com
    # image: jsonbrazeal/jasonbrazeal.com:flask
    # deploy:
    #   replicas: 5
    #   resources:
    #     limits:
    #       cpus: "0.1"
    #       memory: 50M
    #   restart_policy:
    #     condition: on-failure
    ports:
      - '5000:5000'
    networks:
      - jbnet
  nginx:
    build: ./nginx
    # image: jsonbrazeal/jasonbrazeal.com:nginx
    # deploy:
    #   replicas: 5
    #   resources:
    #     limits:
    #       cpus: "0.1"
    #       memory: 50M
    #   restart_policy:
    #     condition: on-failure
    ports:
      - '8000:8000'
    networks:
      - jbnet
