version: '3.5'

networks:
  jbnet:
    name: jbnet

services:
  flask:
    build: ./jasonbrazeal_com
    ports:
      - '5000:5000'
    networks:
      - jbnet
  nginx:
    build: ./nginx
    ports:
      - '8000:8000'
    networks:
      - jbnet
