.designCodeDeploy {
  position: relative;
  left: 18%;
  top: 140px;
}

.bubble:nth-child(2) {
  position: relative;
  bottom: 200px;
}

.bubble {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.bubbleText {
  display: inline-block;
  margin: 150px 0 0 0;
}

.bubbleSkill {
  display: block;
  width: 233px;
  height: 233px;
  background: #303030;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bubbleChart svg {
  z-index: 105;
  position: relative;
  left: 67px;
}

.skillsContainer {
  width: 40%;
  /*box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  position: absolute;
  left: 20%;
}

.workCardContainer * {
  color: #434343;
}

.workCardContainer {
  width: 50%;
  height: 500px;
  background: white;
  margin-top: 50px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  position: absolute;
  left: 20%;
  border-radius: 2px;
}

.resumeContainer .btn {
  width: 109px;
  background-color: #343434;
  z-index: 101;
  color: #d8d8d8;
  position: relative;
  left: 15%;
  top: 30%;
}

.resumeContainer {
  position: absolute;
  left: 18%;
  width: 100%;
  height: 600px !important;
  padding-top: 25px;
}

.experience {

}

.education {

}

.educationLogo {
}

.educationTextContainer {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding-top: 3em;
}

.educationLogoContainer {
  width: 48%;
  display: inline-block;
}

.degree, .org, .location {
  display: block;
}

.degree {
  font-weight: bold;
}

.locationSf {
  margin-bottom: 3em;
}

.locationAustin1 {
  margin-bottom: 2.5em;
}

.locationAustin2 {
  margin-bottom: .5em;
}

.locationAustin3 {
  margin-bottom: 1.5em;
}

.year {
  font-weight: normal;
}

.ccsfLogo {
  background-image: url(../img/ccsf_logo.svg);
  width: 110px;
  height: 110px;
  position: relative;
  top: 18px;
  left: 113px;
  margin-bottom: 10px;
}

.accLogo {
  background-image: url(../img/acc_logo.svg);
  width: 220px;
  height: 125px;
  position: relative;
  left: 60px;
  margin-bottom: 30px;
}

.educationLogoContainer .utLogoEd {
  background-image: url(../img/ut_logo_ed.svg);
  width: 267px;
  height: 67px;
  position: relative;
  left: 44px;
  margin-bottom: 35px;
}

.ut .utLogo {
  background-image: url(../img/ut_logo.svg);
  width: 280px;
  height: 80px;
  position: relative;
  top: 20px;
  left: 95px;
  margin-bottom: 36px;
}

.ugaLogo {
  background-image: url(../img/uga_logo.svg);
  height: 73px;
  width: 224px;
  position: relative;
  left: 48px;
}

.medal .medalLogo {
  background-image: url(../img/medal_logo.svg);
  width: 266px;
  position: relative;
  top: 40px;
  left: 150px;
}

.tyco .tycoLogo {
  background-image: url(../img/tyco_logo.svg);
  width: 256px;
  position: relative;
  top: 10px;
  left: 120px;
}

.verodin .verodinLogo {
  background-image: url(../img/verodin_logo.png);
  width: 350px;
  position: relative;
  top: 10px;
  left: 60px;
}

.primer .primerLogo {
  background-image: url(../img/primer_logo.svg);
  width: 350px;
  position: relative;
  top: 35px;
  left: 90px;
}

.promotion {
  padding: 0 .5em;
}

.experienceSection {
  display: none;
}

.experienceLogo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-position: center;
  margin-bottom: 1em;
}

.jobTitle {
  font-weight: bold;
}

.activeExperienceSection {
  display: block !important;
}

.experienceSection ul {
  width: 70%;
  height: 200px;
  list-style-type: disc;
}

.experienceSection li {
  padding: 5px 0;
}

.ut {
}

.medal {
}

.tyco {
}

.verodin {
}

.primer {
}


.experienceSection p {
  margin: 0 0;
}

.typewriter {
  margin-left: 1em;
}

.typewriterCaret {
  color: #FB9B51;
}

.typewriterWrap {

}

.snippetWrapper {
  margin-bottom: 60px;
  width: 98%;
}

.snippetContainerInner {
  width: 98%;
  height: 560px;
  font-size: 32px;
  overflow: hidden;
  overflow-y: auto;
}

.snippetContainer {
  width: 75%;
  left: 7.5%;
  font-size: 32px;
  position: absolute;
  overflow: hidden;
  padding-top: 1%;
  z-index: 101;
}

.gistFile, .gistData {
  height: 150px;
}

.gist {
  height: 150px;
}

span.scrollNav {
  margin: 0 47.25%;
  font-size: 18px;
  display: block;
}

.writingContainerInner {
  width: 92%;
  height: 90%;
  font-size: 32px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 101;
  position: relative;
}

.writingContainer h1 {
  font-size: 18px;
  text-align: center;
  color: #393939;
  padding-top: 1em;
}

.writingContainer p {
  font-size: .9rem;
  color: #393939;
}

.writingContainer {
  width: 75%;
  height: 100%;
  left: 7.5%;
  font-size: 32px;
  position: absolute;
  overflow: hidden;
  padding: 2% 3%;
}

.writing {
  height: 200px;
  margin-bottom: 20px;
  width: 98%;
  color: #393939;
  background: white;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
}

.writingText {
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
  width: 75%;
  height: 50px;
  margin: 0 auto;
}

.writing pre[class*="language-"], .writing code[class*="language-"], .writing code[class*="language-"] * {
  font-family: Inconsolata, monospace;
  font-size: 1rem;
  line-height: 1.25;
}


.btn {
  color: white;
/*  text-transform: uppercase;*/
  border-right: none;
  border-bottom: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 13px;
  line-height: 1.846;
  border-radius: 3px;
  margin: 5px;
  color: #333;
  user-select: none;
  /* Default Button Background */
  /*background-image: radial-gradient(circle, #fff 80%, #eee 81%);*/
  background-repeat: no-repeat;
  border-color: #eee;
  background-size: 200%;
  background-position: 50%;
  transition: background-size .25s;
}

.btn:hover {
  /*background-size: 100%;*/
  transform: scale(1.1);
}

.btn:active {
  color: #666;
  background-color: #eee;
  background-image: radial-gradient(circle, #eee 10%, #fff 11%);
  background-repeat: no-repeat;
  background-size: 1000%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.fullTextBtn {
  margin: 35px auto;
  display: block;
  width: 50px;
  background-color: #343434;
  z-index: 101;
  color: #d8d8d8;
}

.projectCardContainer {
  width: 75%;
  height: 100%;
  font-size: 32px;
  position: absolute;
  left: 8%;
  color: #393939;
  z-index: 101;
  padding-top: 1.5%;
}

.projectCardWrapper {
  height: 90%;
  overflow-y: scroll;
}

.projectCardNav.projectCardNavActive {
  opacity: .1;
}

.projectCardNav {
  background-color: #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 9.5px;
  bottom: 2px;
  opacity: 0;
  z-index: 102;
}

.ticTacToe .cardImage {
  background-image: url(../img/tictac.png);
  background-position: 0% 20%;
}

.pcapview .cardImage {
  background-image: url(../img/pcapview.png);
  background-position: 50% 0%;
}

.border .cardImage {
  background-image: url(../img/border_wait_times.png);
}

.notes .cardImage {
  background-image: url(../img/notes_viewer.png);
  background-position: 0 20px;
}

.randogen .cardImage {
  background-image: url(../img/randogen.png);
}

.jasonBrazeal .cardImage {
  background-image: url(../img/jasonbrazeal.com.png);
}

.card {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 260px;
  border-radius: 2px;
  background: #fafafa;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 30px 0 0 3%;
}

.card .cardImage {
  display: block;
  position: relative;
  width: 300px;
  height: 210px;
  background-size: cover;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.active .cardImage {
  background-position: 50% 50%;
}

.card .cardImage h1 {
  position: relative;
  top: 174px;
  margin: 0;
  padding: 0;
  font-weight: 300;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
  color: #737373;
  font-size: 1em;
  background-color: #fff;
}

.card.active .cardImage h1 {
  bottom: 100px;
}

.card .cardBody {
  position: absolute;
  display: block;
  bottom: -210px;
  left: 0;
  width: 300px;
  height: 260px;
  background: #d8d8d8;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.active .cardBody {
  bottom: 0;
}

.card .cardBody .controls {
  display: block;
  width: 100%;
  height: 30px;
  padding-top: 15px;
}

.card .cardBody .controls a:nth-child(2) {
  padding-top: 1px;
}

.card .cardBody .controls a:first-child {
  float: left;
}

.card .cardBody .controls a:nth-child(2), .card .cardBody .controls a:nth-child(3) {
  float: right;
}

.card .cardBody .controls a {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 50px;
  color: #2d2d2d;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card .cardBody .controls a i {
  position: absolute;
  left: 50%;
  color: #2d2d2d;
  transform: translateX(-50%);
  transition: opacity 0.32s ease, transform 0.32s ease, color 0.22s ease;
}

.card .cardBody .controls a .down {
  opacity: 0;
  transform: translateX(-50%) rotate(180deg);
}

.card.active .cardBody .controls a .down {
  opacity: 1;
  transform: translateX(-50%) rotate(0deg);
}

.card .cardBody .controls a .up {
  opacity: 1;
  transform: translateX(-50%) rotate(0deg);
}

.card.active .cardBody .controls a .up {
  opacity: 0;
  transform: translateX(-50%) rotate(180deg);
}

.card .cardBody h1 {
  display: block;
  padding: 0;
  color: #323232;
  font-size: 1em;
}

.card.active .cardBody h1 {
  font-size: .5em;
  font-weight: bold;
  text-align: center;
}

.card .cardBody ul {
  list-style-type: square;
  padding: 15px 0 0 38px;
  margin-top: 0;
}

.card .cardBody ul li a {
  color: #346D98;
}

.card .cardBody ul li {
  display: list-item;
  margin: 0;
  color: #323232;
  font-size: 16px;
  text-align: left;
  opacity: 0;
  font-weight: 400;
  transition: padding 0.4s cubic-bezier(.25,.8,.25,1), opacity 0.5s cubic-bezier(.25,.8,.25,1);
  transition-delay: 0.1s;
}

.card.active .cardBody ul li {
  opacity: 1;
  padding: 0;
}










/*

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.hexagon {
  position: relative;
  display: inline-block;
  /* left/right margin approx. 25% of .hexagon width + spacing */
  margin: 1px 18px;
  background-color: hsl(220, 75%, 75%);
  text-align: center;
}
.hexagon, .hexagon::before, .hexagon::after {
  /* easy way: height is width * 1.732
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for sharp corners on hexagons */
  width: 67px;
  height: 116px;
  border-radius: 20%/5%;
}
.hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}
.hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}
.hexagon:nth-child(even) {
  /* top approx. 50% of .hexagon height + spacing */
  top: 59px;
}
.hexagonHover {
  background-color: #FB9B51;
  cursor: pointer;
}
.hexanone {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 116px;
  margin: 1px 18px;
}
.hexanone:nth-child(even) {
  top: 59px;
}
.hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1rem;
  line-height: 1.2;
  z-index: 100;
  font-family: "Droid Sans Mono", monospace;
  color: #737373;
}
.ibwsFix {
  /* inline-block whitespace fix */
  font-size: 0;
}
.honeycomb {
  margin: 0 auto;
  text-align: center;
}

.machine {
  position: absolute;
  top: -13%;
  left: 24.5%;
  width: 60%;
  height: 100%;
  transform: scale(1.3);
}

@media only screen and (max-width: 1150px) {
  .machine {
    top: -15%;
  }

  .primer .primerLogo {
    left: 42px
  }

  .medal .medalLogo {
    left: 92px
  }

  .verodin .verodinLogo {
    left: 12px
  }

  .tyco .tycoLogo {
    left: 58px
  }

  .ut .utLogo {
    left: 51px
  }

  .experienceSection, .educationTextContainer {
    font-size: smaller;
  }

  .educationTextContainer span {
    margin-left: 3rem;
  }
  .locationSf {
    margin-bottom: 4rem;
  }

  .locationAustin1 {
    margin-bottom: 3rem;
  }

  .locationAustin2 {
    margin-bottom: 0rem;
  }

  .locationAustin3 {
    margin-bottom: 1rem;
  }

  .educationTextContainer .year {
    margin-left: 2%;
  }

}

@media only screen and (max-width: 1100px) and (orientation: portrait) {
  .writingContainer, .snippetContainer {
    height: 1200px;
  }

  .writingContainerInner, .snippetContainerInner {
    height: 1180px;
  }

  .skillsContainer {
    left: 10%;
  }

}

@media only screen and (max-width: 800px) {
  .machine {
    top: -10%;
    left: 30%;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .machine {
    top: -10%;
  }
}

@media only screen and (max-width: 1000px) {
  .writingContainer p {
    font-size: .75rem;
  }
}

@media only screen and (min-width: 1500px) {
  .workCardContainer {
    width: 48%;
  }
  .workCardContainer.experience > div {
    position: relative;
    left: -14%;
  }
  .workCardContainer.education > div {
    position: relative;
    left: -1%;
  }
  .projectCardWrapper {
    width: 56%;
  }
  .projectCardContainer {
    left: 26%
  }
  .writingContainer {
    width: 49%;
    left: 21.5%;
  }
  .snippetContainer {
    height: 100%
  }
  .snippetContainerInner {
    width: 88%;
    height: 100%;
  }
}

@media only screen and (min-width: 2200px) {
  .writingContainer p {
    font-size: 1rem;
  }
}

.lightBulb {
  transform: translate(7.8%, -19%) scale(.6);
  opacity: 0;
}

.fidgetSpinner {

}

.gaugeLights {

}

.gaugeLights circle {
  display: none;
  box-shadow: 0 0 110px #f9e594;
}

.code {
  transform: translate(250px, 224px);
}

.needle1 {
  transform-origin: 2.5% 3.5%;
}

.needle2 {
  transform-origin: 2.5% 3.6%;
}

.needle3 {
  transform-origin: 2% 4%;
}

.tank1 {
  transform: translate(50%, 36.5%) scale(.8);
  opacity: 0;
}

.tank2 {
  transform: translate(58%, 36.5%) scale(.8);
  opacity: 0;
}

.tank1 path, .tank2 path {
  opacity: .3;
}

.electricPotential {
  opacity: 0;
}

.cloudApp {
  transform: scale(.9) translate(1rem, 1.5rem);
  position: absolute;
}


.pythonLists {

}
.buildIotSystemWithPython {

}
.markdownHereCodeStyling {

}
