/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #f2f1e7;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
}

#wrapper {
    background-color: #f2f1e7;
    margin: 310px 0 150px 0;
}

#wrapper, #wrapper *, article * {
    z-index: 2;
    position: relative;
}

.thin_strip {
    width: 100%;
    height: 10px;
    background-color: #3d8899;
}

.thin_strip.scroll_slow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.separator {
    width: 100%;
    height: 50px;
    background-color: #3d8899;
    position: relative;
}

/* from http://nicolasgallagher.com/pure-css-speech-bubbles */
.separator:after {
  content: "";
  position: absolute;
  bottom: -15px; /* value = - border-top-width - border-bottom-width */
  left: 49%; /* controls horizontal position */
  border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: #3d8899 transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

/* classy_fabric.png from http://subtlepatterns.com */
#page_header {
    width: 100%;
    height: 320px;
    background: #333 url('../img/classy_fabric.png') repeat;
    color: #f2f1e7;
/* for parallax scroll effect */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

footer .logo {
    margin: 1em auto;
    display: block;
    height: 45px;
    width: 45px;
}

header .logo {
    margin: 2.5em auto 0 auto;
    display: block;
    -webkit-transform: rotate(10deg);
    height: 60px;
    width: 60px;
}

header h1 {
    font-family: 'Belgrano', Verdana, Helvetica, sans-serif;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

header h2 {
    font-family: 'Comfortaa', Verdana, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 250%;
    text-align: center;
    margin: 0;
}

#intro {
    width: 15em;
    margin: 5em 0 0 8em;
    display: inline-block;
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
}

#intro span {
    font-family: 'Comfortaa', Verdana, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 250%;
    display: block;
}

#intro p {
    display: inline;
}

#me {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5em 3em 6em 7em;
    vertical-align: top;
}

#tagline {
    width: 10em;
    margin: 0 5em 0 5em;
    display: inline-block;
}

#code {
    font-family: 'Bree Serif', Georgia, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: normal;
}

#plus {
    font-family: Arial, sans-serif;
    font-size: 400%;
    font-weight: bold;
    color: #3d8899;
    margin-left: 1em;
}

#design {
    font-family: 'Comfortaa', Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 250%;
    color: #874341;
    margin-left: 1em;
}

h2 {
    font-family: 'Comfortaa', Verdana, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 250%;
    margin: .5em 0 0 0;
    padding: 0;
    text-align: center;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
}

#blog_articles {
    max-width: 1200px;
    margin: 0 auto;
}

#work_blurb {
    width: 325px;
    display: inline-block;
    margin: 2em auto;
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
}

#tools, #projects {
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
}

#tools {
    float: right;
    padding-left: 5.5em;
    background: url('../img/fi-widget.svg') no-repeat;
    width: 20%;
}

#projects {
    float: left;
    padding: 0 2em 0 6.5em;
    width: 25%;
    background: url('../img/fi-laptop.svg') no-repeat;
}

#tools h3, #projects h3 {
    font-family: 'Comfortaa', Verdana, Helvetica, sans-serif;
    font-weight: 300;
}

#projects p:first-child {
    cursor: pointer;
}

#projects p:last-child {
    display: none;
}

#projects img, #projects p {
    display: inline;
}

.github, .external_link {
    width: 2em;
    height: 2em;
}

#blog_blurb, #contact_blurb {
    width: 300px;
    display: block;
    margin: 2em auto;
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
}

#contact_link {
    cursor: pointer;
}

#contact_a {
    position: relative;
    top: 25px;
}

article {
    display: inline-block;
    width: 300px;
    margin: 2em 0 4em 6em;
}

article * {
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
    color: #222;
    text-align: left;
}

article header {
    background: #f2f1e7;
    height: auto;
}

article header h1 {
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
    font-size: normal;
    font-weight: normal;
    text-align: left;
    margin: 0;
    font-size: 150%;
}

/* blog link */
#wrapper h2 a {
    color: #222;
}

article header p {
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
    font-size: normal;
    font-weight: normal;
    text-align: left;
    margin: 0;
    font-size: 100%;
}

article p {
    margin: 0;
    padding: 0;
}

#blog_articles article {
    vertical-align: top;
}

.loader {
    display: block;
    margin: 2em auto;
}

.loader p {
    padding-left: 3em;
}

.loader img {
    display: block;
    margin: 0 auto;
}

#blog_error {
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
    margin: 2em auto;
    width: 33%;
}

#blog_error a {
    cursor: pointer;
}

#blog_error img {
    float: left;
    position: relative;
    top: -4px;
}

body a {
    color: #3d8899;
    text-decoration: none;
}

form {
    font-family: 'Comfortaa', Verdana, Helvetica, sans-serif;
    font-weight: 300;
    display: block;
    width: 300px;
    margin: 2em auto;
}

input[type="text"], textarea {
    border-radius: 5px;
    border: 3px solid #3d8899;
    background: #f2f1e7;
    width: 18em;
}

input[type="submit"] {
    border-radius: 5px;
    border: 3px solid #3d8899;
    background: #f2f1e7;
    margin: 0 auto;
    display: block;
    padding: .5em;
}

input[type="submit"]:hover {
    background: #874341;
    color: #f2f1e7;
}

input:focus, textarea:focus, input[type="text"]:hover, textarea:hover {
    outline: none;
    box-shadow: 0 0 10px #874341;
}

textarea {
    height: 9em;
}

label {
    vertical-align: top;
    display: inline-block;
}

footer {
    width: 100%;
    height: 160px;
    background: #333 url('../img/classy_fabric.png') repeat;
    color: #f2f1e7;
/* for parallax scroll effect */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -3;
}

#copyright {
    display: block;
    width: 12em;
    margin: 2em auto 0 auto;
    font-family: 'Gafata', Verdana, Helvetica, sans-serif;
    vertical-align: top;
}

#github, #twitter, #linkedin, #up_arrow {
    width: 36px;
    height: 36px;
    display: block;
    position: fixed;
    bottom: 10px;
}

#linkedin {
    background: url(../img/fi-social-linkedin.svg) center no-repeat;
    left: 60px;
}

#twitter {
    background: url(../img/fi-social-twitter.svg) center no-repeat;
    left: 140px;
}

#facebook {
    background: url(../img/fi-social-facebook.svg) center no-repeat;
    left: 220px;
}

#github {
    background: url(../img/fi-social-github.svg) center no-repeat;
    left: 220px;
}

#up_arrow {
    background: url(../img/fi-eject.svg) center;
    right: 120px;
    cursor: pointer;
}

#footer_links, #footer_links * {
    z-index: 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
